# === Basic App Settings ===
APP_NAME=aihappey

# === API Endpoints ===
API_BASE_URL=http://localhost:3010
AGENT_ENDPOINT=http://localhost:3036

# === Monitoring ===
APPLICATIONINSIGHTS_CONNECTION_STRING=
